@import "./styles/example.scss";

#main {
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}
  

h1 {
    margin-top: 30px;
    text-align: center;
}

#instruction {
    background-image: url("../assets/image/instructions.png");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: 3;
//     // border: 20px solid transparent;
//     background-image: url("../assets/image/frame.png");
//     background-size: 120% 120%;
//     // background-size: cover;
//     // padding: 20px;
//     // background-clip: padding-box;
}

#game {
    // background-image: url("../assets/image/frame.png");
    
    border: 14px solid rgb(73, 100, 133);
    // border-image: url("../assets/image/frame.png");
    // box-shadow: 25px 25px rgb(194, 188, 188);
    // border-image: url("../assets/image/bg_frame.png");
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    // width: 1000px;
    // height: 500px;
    // display: flex;
    // background-image: "../assets/image/background.jpeg";
}

#background {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#frame {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#board, #gary, #gary2, #gary3, #gary4, #gary5, #gary6, #rock, #goal, #ground, #ground2, #ground3, #ground4, #ground5, #ground6, 
#jellyfish, #shockedleftgary, #shockedrightgary, #floatinggary, #bikini, #home{
    display: none;
}

#game_background {
    background-image: url("../assets/image/bg_title.png");
    // background-size: cover;
    // display: none;
    // // background-position: center;
    // top: 0%;
    // left: 0%;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    // background-color: rgb(219, 216, 162);
}
