@import "./styles/example.scss";

#main {
    color: $color;
}

#snail-game {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 1000px;
    // height: 500px;
    // display: flex;
    // background-image: "../assets/image/background.jpeg";

}